#root {}

.logo {}

.monospace-font {
  font-family: monospace;
}
.space {
  height: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
